Repository Fundbox/ui, pull requests merged in 2018-11, with the labels that each got.

#22 Nest Storybook components under a components namespace
  .storybook/addons/fundbox-styles-addon/FbxStyles.vue
  .storybook/config.js
  assets/btn-ajax-loading.gif
  assets/icon_check_active.svg
  assets/icon_check_disabled.svg
  assets/logo.png
  components/FbxButton/FbxButton.stories.js
  components/FbxButton/FbxButton.vue
  components/FbxCheckbox/FbxCheckbox.stories.js
  components/FbxCheckbox/FbxCheckbox.vue
  components/FbxCloseButton/FbxCloseButton.stories.js
  components/FbxCloseButton/FbxCloseButton.vue
  components/FbxTabs/FbxTabs.stories.js
  components/FbxTabs/FbxTabs.vue
  components/FbxTextField/FbxTextField.stories.js
  components/FbxTextField/FbxTextField.vue
  components/FbxTooltip/FbxTooltip.stories.js
  components/FbxTooltip/FbxTooltip.vue
  components/FbxValidationMessage/FbxValidationMessage.vue
  components/main.stories.js
  main.stories.js
  styles/fonts/fonts.scss
  styles/fonts/icomoon/fonts/icomoon.woff
  styles/fonts/icomoon/selection.json
  styles/fonts/icomoon/style.css
  styles/fonts/museo-sans/MuseoSans_100-webfont.woff
  styles/fonts/museo-sans/MuseoSans_100-webfont.woff2
  styles/fonts/museo-sans/MuseoSans_300-webfont.woff
  styles/fonts/museo-sans/MuseoSans_300-webfont.woff2
  styles/fonts/museo-sans/MuseoSans_500-webfont.woff
  styles/fonts/museo-sans/MuseoSans_500-webfont.woff2
  styles/fonts/museo-sans/_museo-sans.font.scss
  styles/fonts/tisa/TisaOT-Bold.woff
  styles/fonts/tisa/TisaOT-Bold.woff2
  styles/fonts/tisa/TisaOT-Light.woff
  styles/fonts/tisa/TisaOT-Light.woff2
  styles/fonts/tisa/TisaOT-Medi.woff
  styles/fonts/tisa/TisaOT-Medi.woff2
  styles/fonts/tisa/TisaOT.woff
  styles/fonts/tisa/TisaOT.woff2
  styles/fonts/tisa/TisaPro-Bold.woff
  styles/fonts/tisa/TisaPro-Bold.woff2
  styles/fonts/tisa/TisaPro-Medi.woff
  styles/fonts/tisa/TisaPro-Medi.woff2
  styles/fonts/tisa/TisaPro-Regular.woff
  styles/fonts/tisa/TisaPro-Regular.woff2
  styles/fonts/tisa/_tisa.font.scss
  styles/utils/color-palette.scss
  styles/utils/fonts-generator.scss
  styles/utils/mixins.scss
  styles/utils/reset.scss
  styles/utils/utilities.scss
  styles/utils/variables.scss
  styles/utils/visibility-utils.scss
Labels: infrastructure

#23 Added FbxAutofocus directive
  components/FbxTextField/FbxTextField.vue
  directives/FbxAutofocus/FbxAutofocus.js
  directives/FbxAutofocus/FbxAutofocus.md
  directives/FbxAutofocus/FbxAutofocus.spec.js
  directives/FbxAutofocus/FbxAutofocus.stories.js
  directives/FbxAutofocus/index.js
  main.stories.js
  package-lock.json
Labels: Directives

#20 feat(components): add FbxSelect component
  components/FbxSelect/FbxSelect.md
  components/FbxSelect/FbxSelect.spec.js
  components/FbxSelect/FbxSelect.stories.js
  components/FbxSelect/FbxSelect.vue
  components/FbxSelect/__snapshots__/FbxSelect.spec.js.snap
  components/FbxSelect/index.js
  components/assets/arrow-down.svg
  main.stories.js
  package-lock.json
  package.json
  test/unit/jest.conf.js
Labels: components

#21 feat(infra): upgrade to storybook 4, Babel 7 and Webpack 4
  .babelrc
  .gitignore
  .storybook/.babelrc
  .storybook/webpack.config.js
  components/FbxSelect/FbxSelect.spec.js
  package-lock.json
  package.json
Labels: infrastructure

#33 FbxAddressAutocomplete
  .babelrc
  .storybook/preview-head.html
  babel.config.js
  components/FbxTextField/FbxTextField.md
  components/FbxTextField/FbxTextField.stories.js
  components/FbxTextField/FbxTextField.vue
  components/FbxTextField/index.js
  components/FbxTooltip/FbxTooltip.vue
  consts/us-states.const.js
  directives/FbxAddressAutocomplete/FbxAddressAutocomplete.js
  directives/FbxAddressAutocomplete/FbxAddressAutocomplete.md
  directives/FbxAddressAutocomplete/FbxAddressAutocomplete.stories.js
  directives/FbxAddressAutocomplete/index.js
  main.stories.js
  package-lock.json
  package.json
  styles/utils/utilities.scss
  test/unit/jest.conf.js
  validations/index.js
  validations/validations.js
Labels: Directives

#34 feat(infra): scaffolding for different types of elements
  README.md
  _templates/component/new/component.ejs.t
  _templates/component/new/component.md.ejs.t
  _templates/component/new/component.spec.ejs.t
  _templates/component/new/component.stories.ejs.t
  _templates/component/new/index.ejs.t
  _templates/component/new/inject_component.ejs.t
  _templates/directive/new/directive.ejs.t
  _templates/directive/new/directive.md.ejs.t
  _templates/directive/new/directive.spec.ejs.t
  _templates/directive/new/directive.stories.ejs.t
  _templates/directive/new/index.ejs.t
  _templates/directive/new/inject_directive.ejs.t
Labels: infrastructure

#19 FbxPanelRadioButton
  .storybook/webpack.config.js
  components/FbxPanelRadioButton/FbxPanelRadioButton.md
  components/FbxPanelRadioButton/FbxPanelRadioButton.spec.js
  components/FbxPanelRadioButton/FbxPanelRadioButton.stories.js
  components/FbxPanelRadioButton/FbxPanelRadioButton.vue
  components/FbxPanelRadioButton/__snapshots__/FbxPanelRadioButton.spec.js.snap
  components/FbxPanelRadioButton/index.js
  components/FbxPanelRadioButton/stories/FbxPanelRadioButton.dynamic-values.story.vue
  components/FbxPanelRadioButton/stories/FbxPanelRadioButton.no-icons.story.vue
  components/FbxPanelRadioButton/stories/FbxPanelRadioButton.stories.scss
  components/FbxPanelRadioButton/stories/FbxPanelRadioButton.with-validation.story.vue
  components/FbxValidationMessage/index.js
  main.stories.js
  package-lock.json
  package.json
  test/unit/jest.conf.js
Labels: components
